* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    background-color: #111;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 5rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}

h3 {
    font-size: 2rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #FFF300;
}

h4 {
    font-size: 1rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #EC008F;
}

h5 {
    font-size: 0.75rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #EC008F;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 4rem;
    background-color: #EC008F;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    font-size: 1.25rem;
    align-items: center;
}

a:first-child {
    margin-right: auto;
}

.nav-item {
    padding: 0 30px;
}

.last-item {
    padding-right: 80px;
}

/* Intro Section */ 

.intro-container {
    padding-top: 5%;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.intro-text {
    text-align: center;
    margin: 3rem 0;
}

.intro-button {
    padding: 10px 20px;
    background-color: #EC008F;
    margin: 2% 0;
    font-size: 1rem;
    border: none;
}