* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    background-color: #111;
}

h1 {
    font-size: 5rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}

h3 {
    font-size: 2rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}

h4 {
    font-size: 1rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}

h5 {
    font-size: 0.75rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}