* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    background-color: #111;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 5rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #01AFF1;
}

h3 {
    font-size: 2rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #FFF300;
}

h4 {
    font-size: 1rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
}

h5 {
    font-size: 0.75rem;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 4rem;
    background-color: #EC008F;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    font-size: 1.25rem;
    align-items: center;
}

a:first-child {
    margin-right: auto;
}

.nav-item {
    padding: 0 30px;
}

.last-item {
    padding-right: 80px;
}

/* Intro Section */ 

.intro-container {
    padding-top: 5%;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.intro-text {
    text-align: center;
    margin: 3rem 0;
}

.yield-button {
    padding: 10px 20px;
    background-color: #EC008F;
    margin: 2% 0;
    font-size: 1.25rem;
    text-align: center;
    font-family: 'Permanent Marker', 'Roboto', sans-serif;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    box-shadow: 5px 9px #fff;
  }

  .yield-button:hover {
      background-color: #ec008edc;
      transition: 0.1s;
  }
  
  .yield-button:active {
    background-color: #EC008F;
    box-shadow: 5px 5px #fff;
    transform: translateY(4px);
  }

/* Section Stylings */

.chains-header {
    padding: 3rem 3rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    padding: 2rem 3rem;
    width: 30%;
    max-width: 100%;
}

.flex-item img {
    width: 500px;
    max-width: 100%;
}

.flex-item h3 {
    line-height: 1.2;
}

/* Checkbox Styling */

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #FFF300;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #EC008F;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* Footer Section */

footer {
    background-color: #EC008F;
    height: auto;
    width: 100%;
    max-width: 100%;
}